.banner__Section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px;
    background-color: var(--main--body--bg--color);
}

.banner__Title>h1 {
    font-size: 35px;
    text-align: justify;
}

.banner__Info {
    margin-left: 1.5rem;
}

.banner__Section .banner {
    display: flex;
    align-items: center;
    text-align: center;
}

.banner__Message>p {
    margin-top: 1rem;
    text-align: justify;
}

@media (max-width: 768px) {
    .banner {
        flex-direction: column;
    }

    .banner__Section {
        padding: 80px 50px;

    }

    .banner__Image>img {
        width: 300px;
    }
}