.card__Section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 25px;
    padding-top: 100px;
    background-color: var(--main--body--bg--color);
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
}

.card .card__Mesage {
    width: 300px;
    text-align: center;
}

.card .card__Image {
    margin-bottom: 1rem;
}